upstream test {
{%   for upstm_addr in upstream  %}
server {{ upstm_addr }}
{% endfor %}
}
server {
listen {{ ansible_default_ipv4.address }}:80;
listen [::]:80;
server_name {{ item }}.junaway.pro;
root /var/www/{{ item }}.junaway.pro;
index index.html;
try_files $uri /index.html;
}
